<h2><%= t('.h2', default: 'change password')%></h2>

<%= simple_form_for([:admin, @admin], url: admin_update_password_path(@admin.username), method: :patch) do |f| %>
  <%= f.input :current_password, as: :password %>
  <%= f.input :password, as: :password %>
  <%= f.input :password_confirmation, as: :password %>
  <%= f.button :submit, 'Update Password' %>
<% end %>
