<div class="row">
  <%= simple_form_for @admin, url: admin_profile_url(current_admin.username), method: :patch, :html => {:multipart => true} do |f| %>
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Profile
        </div>
        <div class="panel-body">
          <%= image_tag(f.object.image_url || "user_default_profile.jpg", alt: "Logo", width: 86, height: 86) %>
          <%= f.input :image, type: :file %>
          <%= f.input :email, type: :email %>
          <%= f.input :username, type: :text %>
          <%= f.input :first_name, type: :text %>
          <%= f.input :last_name, type: :text %>
          <%= f.input :phone, type: :text %>
          <%= f.input :local_timezone, collection: UtilsTimeZone.all.map { |s| [s[:name], s[:identifier]] }, selected: f.object.local_timezone %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>
